@font-face {
  font-family: "Stratum2";
  src: url("../fonts/stratum2-regular-webfont.ttf"),
    url("../fonts/stratum2-bold-webfont.ttf");
}
body {
  /* font-family: "Stratum2", sans-serif; */
}

img {
  max-width: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #2d425c!important;
  border-color: #2f445d;
}

.bg-primary {
  background-color: #2d425c!important;
}

.text-primary {
  color: #2d425c !important;
}

/* Navbar */
.navbar {
  transition: all 0.4s;
  /* border-bottom: 1px solid #aaa6; */
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .active .nav-link {
  color: #13538b;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    /* background: #fff; */
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #555;
  }
}

/* Carousel */
#carouselHome .carousel-caption {
  top: 15%!important;
}
#carouselHome .carousel-caption {
  top: 15%!important;
}
#carouselHome .carousel-indicators {
  justify-content: start!important;
  margin-bottom: 2.5em;
}
#carouselHome .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#carouselHome .carousel-indicators .active {
  background-color: #7edf6f;
}

.company-overview-text {
  background: #2e435d8f;
  border-radius: 100px 0 0;
  padding-left: 6em!important;
  margin-top: 4em;
}

.banner-overview {
  border-radius: 50px;
  background: #eee;
  overflow: hidden;
}

.gap {
  margin: 3.5em 0;
  display: flex;
}

/* vehicle model slider */
img.img-offside {
  position: absolute;
  max-width: 170px;
  left: -30px;
  bottom: 65px;
}

div#vehicle-model-slider .card {
  padding-top: 2em;
  border-radius: 25px;
  margin: 0 1em;
}

.top-footer {
  background-color: #13304a;
  background-image: url(../img/homepage/stayuptodate_pattern.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  /* height: 305px; */
}

li.nav-item.active a {
  color: #4ce2ad !important;
}

img.bg_man {
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Products */
.product-img {
  margin-bottom: -160px;
}

.product {
  border-radius: 20px;
  margin-bottom: 7em!important;
}
.spec-value {
  font-weight: bold;
  margin-top: 5px;
}

.header li.nav-item.active a {
  border-bottom: 3px solid rgba(227, 0, 0, 0.778)!important;
  color: #333!important;
  text-align: center;
}

.swipper-wrapper {
  overflow: hidden;
  padding: 0 2em;
}

/* Core Values */
.core-values-header {
  border-radius: 0 60px 60px 0;
  margin-right: 6em!important;
}
.core-values-header-2 {
  border-radius: 60px 0px 0px 60px;
  margin-left: 6em !important;
}

/* Product Detail */
.product-detail-img {
  margin-bottom: -150px;
}

.product-detail-header {
  border-radius: 20px;
}

@media screen and (min-width: 425px) {
  
  .product-detail-specs {
    height: 120px;
  }
}

#product-carousel {
  padding-left: 5em!important;
  padding-right: 5em!important;
}

#product-carousel .carousel-inner {
  border-radius: 20px;
}

#product-carousel .carousel-control-prev {
  left: -60px!important;
}
#product-carousel .carousel-control-next {
  right: -60px!important;
}

.carousel-icon {
  width: 60px;
  height: 60px;
  border: 1px solid #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-related-img {
  border-left: 4px solid #555;
}

/* Company Profile */
.profile-header-img {
  margin-right: -100px;
}

.profile-header{
  overflow: hidden;
}

/* Swiper */
.status {
  /* padding: 0px 40px; */
  display: flex;
  /* justify-content: center; */
  border-top: 2px solid #13538b;
  position: relative;
  transition: all 200ms ease-in;
}

.status span {
  font-weight: 600;
  padding-top: 40px;
}
.status span:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #13538b;
  position: absolute;
  top: -8px;
  /* left: calc(50% - 12px); // align circle to center */
  left: 0;
  transition: all 200ms ease-in;
}

.milestone-swiper .swiper-slide {
  margin-right: 0!important;
}

/* Vision Mission */
.vision-mission-text {
  padding: 3em 3em 3em 9em;
  border-radius: 180px 0 0 180px;
}

.swiper-button-prev, .swiper-button-next {
  top: 50px!important;
}
.swiper-button-next {
  right: -3px!important;
}